@import "tailwindcss";
@import '98.css/dist/98.css';

body {
  background-color: #008080;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Desktop shouldn't scroll usually */
  height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/ai-brain-logo.png');
  background-repeat: repeat;
  background-size: 64px 64px;
  background-position: center;
  opacity: 0.08;
  pointer-events: none;
  z-index: 0;
}